{
  "useTabs": false,
  "printWidth": 140,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "semi": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "babel-ts"
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.scss"],
      "options": {
        "parser": "scss"
      }
    }
  ]
}
