@import './fonts';

/* COLOR */
$color--black: #000;
$color--dark-grey: #121212;
$color--mineshaft: #262626;
$color--obsidian: #333;
$color--gunmetal: #666;
$color--boulder: #767676;
$color--noble: #999;
$color--silver: #bfbfbf;
$color--asphalt: #e5e5e5;
$color--whisper: #ececec;
$color--moon: #f4f4f4;
$color--smoke: #f8f8f8;
$color--white: #fff;
$color--highlight: #00adef;
$color--highlight-hover: #0088c6;
$color--highlight-pressed: #009ed8;
$color--highlight-outline-dark: #4a90e2;
$color--highlight-outline-light: #57cdf5;
$color--error: #eb0000;
$color--correct: #41853d;
